@use './colors' as colors;

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html,
body,
#root {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-row-gap: 1rem;
	color: colors.$alabaster;
	background-color: colors.$bunker;

	.page {
		padding: 1rem;
	}
}
