@use '../colors' as colors;
@use 'sass:color' as color;

.page.about {
	h1 {
		color: colors.$perfume;
	}

	p {
		animation: flash 0.75s infinite;
	}
}

@keyframes flash {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
